html body {
    background-color: #f7f7f7;
}

body a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #3273dc;
}

.blogCard {
    background-color: white;
    padding: 20px;
    margin: 15px;
    border-radius: 5px;
}

.avatar {
    width: 64px;
    height: 64px;
}