html body {
    background-color: #f7f7f7;
    font-size: 16px;
}

body a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #3273dc;
}

.blogCard {
    background-color: white;
    padding: 20px;
    margin: 15px;
    border-radius: 5px;
}

.avatar {
    width: 64px;
    height: 64px;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) { min-height: 400px; max-height: 800px; }
.ck-content {
    font-size: 14px;
    font-family: 'nanumgothic';
}
.ck-content p {
    margin-bottom: 0;
}

.brand {
    height: inherit;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.25em;
}

.useButton {
    padding:0px;
    padding-left: 4px;
    padding-right: 4px;
    height: 100%;
    color: rgba(0, 0, 0, 0.55);
}

.useButton:hover {
    color: #3273dc;
    background-color: #fafafa;
}

.noEffect {
    background: none;
    border: none;
}

.modal-dialog.modal-s2 {
    min-width: 20%;
}

.outline {
    border: 1px solid #7286D3;
    border-radius: 10px;
    padding: 7px;
}

.outline:focus-within {
    border: 3px solid #7286D3;
    padding: 5px;
}

.outline input {
    border: none;
}

.close {
    position: relative;
    top: -15px;
    font-size: 30px;
    color: #cf4337;
}