.Container {
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: column;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
    .Container {
      flex-direction: column;
    }

    html body {
        font-size: 14px;
    }

    .blogCard {
        order: 1;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .extraCard {
        margin-left: 0px;
        margin-right: 0px;
    }

    .widget {
        order: 2;
    }

    .profile {
        order : 2;
        flex-direction: row;
    }

    .category {
        order : 1;
    }

    .ck-editor__main {
        margin-left:auto;
        margin-right:auto;
        width:100%;
    }

    .ck.ck-editor__main>.ck-editor__editable {
        padding-left:1em;
        padding-right:1em;
    }
}
  
@media only screen and (min-width: 769px) {
    .Container {
        flex-direction: row;
    }

    .ck-editor__main {
        margin-left:auto;
        margin-right:auto;
        width:50%;
    }
    
    .ck.ck-editor__main>.ck-editor__editable {
        padding-left:5em;
        padding-right:5em;
    }

    .ck.ck-button.ck-publish.ck-off.ck-button_with-text {
        margin-left: auto;
        margin-right:1em;
    }
}