.Container {
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: column;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
    .Container {
      flex-direction: column;
    }

    html body {
        font-size: 14px;
    }

    .blogCard {
        order: 1;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .extraCard {
        margin-left: 0px;
        margin-right: 0px;
    }

    .widget {
        order: 2;
    }

    .profile {
        order : 2;
        flex-direction: row;
    }

    .category {
        order : 1;
    }
}
  
@media only screen and (min-width: 769px) {
    .Container {
        flex-direction: row;
    }
}