<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringServerApplication" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="com.spring.springserver.SpringServerApplication" />
    <module name="spring-server.main" />
    <option name="VM_PARAMETERS" value="-Dspring.profiles.active=dev" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="com.spring.springserver.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>